* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  min-height: 100vh;
  margin: 0;
}

body {
  font-family: "ff-dagny-web-pro", sans-serif;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1 1 50%;
}

.row textarea, .row .formatting {
  flex: 1 1 50%;
}

textarea {
  border: none;
  background: radial-gradient(white, #eee);
  font-size: 24px;
  padding: 8px;
  resize: none;
}

.formatting {
  font-size: 16px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formatting .setting {
  display: flex;
  padding: 4px 0;
  align-items: flex-end;
}

.setting label {
  flex: 1 1 50%;
  border-bottom: 1px dotted #333;
}

.setting input, .setting select {
  width: 100px;
  font-size: inherit;
  border: none;
  box-shadow: inset 4px 4px 16px rgba(0, 0, 0, .1);
  padding: 4px;
  text-align: center;
}

.preview-container {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #888;
  padding: 24px;
}

.preview-aspect {
  width: 100%;
  max-width: 600px;
  position: relative;
  background: #EEE;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, .2);
}

.preview-aspect::before {
  padding-bottom: 52.3%;
  content: "";
  display: block;
}

.preview-aspect[aspect-ratio="twitter"]::before {
  padding-bottom: 100%;
}

.preview {
  background: @salmon;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.download {
  display: block;
  margin: 8px;
  padding: 8px 16px;
  background: #66a;
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s linear;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
}

.download:hover, .download:focus {
  background: #55b;
  box-shadow: 0 8px 4px -4px rgba(0, 0, 0, .2);
}